<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- إذن الإنترنت ضروري علشان التطبيق يقدر يتصل بـ API -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieApplication">
        <activity
            android:name="com.example.movieapplication.ui.watchlist.FavCeleb_Genre"
            android:exported="false"
            android:label="@string/title_activity_fav_celeb_genre"
            android:theme="@style/Theme.MovieApplication" />
        <activity
            android:name="com.example.movieapplication.ui.Signin.SigninActivity"
            android:exported="false"
            android:label="@string/title_activity_signin"
            android:theme="@style/Theme.MovieApplication" />
        <activity
            android:name="com.example.movieapplication.ui.Login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.MovieApplication" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.MovieApplication" />
        <activity
            android:name="com.example.movieapplication.ui.Splash.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MovieApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>